body {
    background-color: rgb(41, 43, 44);
}

p {
    color: #eeeeee;
}

h1 {
    color: #eeeeee;
}

h2 {
    color: #eeeeee;
}

h5 {
    color: #eeeeee;
}

h6 {
    color: #eeeeee;
}

label {
    color: #eeeeee;
}

thead th {
    color: white;
}

tbody td {
    color: white;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}
a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    margin: 2px;
    margin-top:10px;
}
