{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'todo/scripts.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="{% static 'todo/offline.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'todo/offline-theme-chrome.css' %}"/>
    <link rel="stylesheet" href="{% static 'todo/offline-language-english.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'todo/logo.png' %}">
    <title>Autonomica - {{ screen.title }}</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-danger">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'todo/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
            <span class="font-weight-bold">Autonomica - {{ screen.title }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="font-weight-bold">Running:</span>
                    <div class="spinner-border spinner-border-sm text-success font-weight-bold" role="status">
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'todo/jquery-3.6.0.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<script>
    var run = function () {
        var req = new XMLHttpRequest();
        req.timeout = 5000;
        {#TODO Edit host to local host before deployment#}
        req.open('GET', 'http://127.0.0.1:8000/', true);
        req.send();
    }

    setInterval(run, 3000);
</script>

</body>
</html>
