{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="{% static 'todo/js/scripts.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'todo/css/bootstrap.min.css' %}">
    <script src="{% static 'todo/js/offline.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'todo/css/offline-theme-chrome.css' %}"/>
    <link rel="stylesheet" href="{% static 'todo/css/offline-language-english.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/scss/style.scss' %}">
    <link rel="icon" type="image/png" href="{% static 'todo/img/logo.png' %}">
    <title>Autonomica - {{ screen.title }}</title>
</head>
<body>


<nav class="navbar navbar-expand-md navbar-light bg-danger">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'todo/img/logo.png' %}" width="30" height="30" class="d-inline-block align-top">
            <span class="font-weight-bold">Autonomica - {{ screen.title }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="font-weight-bold">Running:</span>
                    <span class="badge bg-success">Panel OK</span>
                </li>
            </ul>

        </div>
    </div>
</nav>


<div class="container">
    {% block content %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'todo/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'todo/js/popper.min.js' %}"></script>
<script src="{% static 'todo/js/bootstrap.min.js' %}"></script>

<script>
    var run = function () {
        var req = new XMLHttpRequest();
        req.timeout = 5000;
        {#TODO Edit host to local host before deployment#}
        req.open('GET', 'http://127.0.0.1:8000/', true);
        req.send();
    }

    setInterval(run, 10000);
</script>

</body>
</html>
