


{% extends "autonomica/basefullscreen.html" %}

{% block content %}

    <div class="row justify-content-left mt-5">
        <div class="col-md-5">

        </div>
    </div>
    {% csrf_token %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-5">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Audiotorium</h5>
        <div class="card-body">
            {% for macro in macros %}
                {% if macro.category == 'a' %}
                    <a class="btn btn-{{ macro.colors }}"
                       onclick="runMacro('{{ macro.device.ip }}', '{{ macro.device.port }}','{{ macro.command }}')">{{ macro.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Projector</h5>
        <div class="card-body">
            {% for macro in macros %}
                {% if macro.category == 'p' %}
                    <a class="btn btn-{{ macro.colors }}"
                       onclick="runMacro('{{ macro.device.ip }}', '{{ macro.device.port }}','{{ macro.command }}')">{{ macro.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Sound</h5>
        <div class="card-body">
            {% for macro in macros %}
                {% if macro.category == 's' %}
                    <a class="btn btn-{{ macro.colors }}"
                       onclick="runMacro('{{ macro.device.ip }}', '{{ macro.device.port }}','{{ macro.command }}')">{{ macro.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="card text-white bg-dark mb-3">
        <h5 class="card-header">Player</h5>
        <div class="card-body">
            {% for macro in macros %}
                {% if macro.category == 'm' %}
                    <a class="btn btn-{{ macro.colors }}"
                       onclick="runMacro('{{ macro.device.ip }}', '{{ macro.device.port }}','{{ macro.command }}')">{{ macro.name }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>


{% endblock %}