{% extends "autonomica/base.html" %}

{% block content %}
    <br>
    <div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">
            <br>
            {% for screen in screens %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row"> {% endif %}
            <div class="col-md-4">
                <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header">📽 {{ screen.title }} 📽</div>
                    <div class="card-body">
                        <h5 class="card-title">Options:</h5>
                        {% if user.is_authenticated %}
                            <div class="button-wrapper"><a href="{% url 'viewscreen' screen.id %}">
                                <button class="btn btn-danger">Manage Screen</button>
                            </a></div>
                            <div class="button-wrapper"><a onclick="location.href='{% url 'fullscreen' screen.id %}'">
                                <button class="btn btn-danger">Start Fullscreen</button>
                            </a></div>
                        {% else %}
                            <div class="button-wrapper"><a onclick="location.href='{% url 'fullscreen' screen.id %}'">
                                <button class="btn btn-danger">Fullscreen</button>
                            </a></div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 or forloop.last %}</div><br>{% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}
